body {
    box-sizing: content-box;
}

input,
select,
button {
    width: 100%;
    height: 35px;
    margin: 10px auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

a {
    width: 100px;
    margin: 5px;
}

/* Class */
.container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    width: 500px;
}

.section {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

/* Id */
#divMessage {
    height: 35px;
    line-height: 15px;

}

#afficherPrixKilo {
    height: 35px;
}