@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

:root {
    --txt-cl: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Open sans", sans-serif;
    font-size: 18px;
    color: var(--txt-cl);
}

.app-container h1 {
    margin-bottom: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    font-family: "Montserrat", sans-serif;
}

.information-block {
    width: 25vw;
    min-width: 40em;
    aspect-ratio: 7/5;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.information-block .header {
    padding: 20px 0;
}

.information-block .emoji-logo {
    display: block;
    width: 50px;
    margin: auto;
}

.information-block p {
    text-align: center;
    margin-bottom: 1em;
}

.information-block .content {
    padding: 3em;
}

.information-block table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

.information-block th,
.information-block td {
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.scale-bar {
    display: flex;
    gap: 2px;
}

.scale-section {
    flex-grow: 1;
    height: 10px;
    background-color: red;
}

.scale-section:nth-child(1) {
    background-color: forestgreen;
}

.scale-section:nth-child(2) {
    background-color: yellow;
}

.scale-section:nth-child(3) {
    background-color: orange;
}

.scale-section:nth-child(4) {
    background-color: red;
}

.scale-section:nth-child(5) {
    flex-grow: 2;
    background-color: purple;
}

.scale-section:nth-child(6) {
    flex-grow: 4;
    background-color: brown;
}
